%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [
    {config, "./config/dev_sys.config.src"},
    {app_reload_blacklist, [ranch, cowboy, nova, fs, arizona, arizona_nova]}
]}.

{deps, [
    {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
    {arizona_nova,
        {git, "https://github.com/arizona-framework/arizona_nova.git",
            {branch, "feat/zero-deps-rewrite"}}},
    {flatlog, "0.1.2"}
]}.

%% Release profiles
{relx, [
    {release, {erlang_secure_coding, git}, [
        erlang_secure_coding,
        sasl
    ]},
    {mode, dev},
    {sys_config_src, "./config/dev_sys.config.src"},
    {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {sys_config_src, "./config/prod_sys.config.src"}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all, warnings_as_errors]},
        {ct_opts, [{sys_config, "./config/dev_sys.config.src"}]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_extra_paths, ["test"]}
    ]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{cover_enabled, true}.

{project_plugins, [
    {rebar3_nova, ".*",
        {git, "https://github.com/novaframework/rebar3_nova.git", {branch, "master"}}},
    {erlfmt, "~>1.7"},
    rebar3_audit,
    rebar3_sbom,
    covertool
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/{*.erl, *.hrl}",
        "test/**/{*.erl, *.hrl}"
    ]},
    {exclude_files, ["config/vm.args.src", "config/prod_sys.config.src"]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
